#tool-full-page {
  margin: 1rem auto;
}

.json-formatter-tool-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  gap: 1rem;
}

.json-formatter-button-container {
  display: flex;
  justify-content: center;

  max-width: 1250px;

  gap: 1rem;

  width: 100%;
  margin: auto;

  position: relative;
  /* border: 1px solid green; */
}

.json-formatter-button-container > span:first-of-type {
  display: flex;
  flex: 1;
  gap: 1rem;
  justify-content: center;

  /* border: 1px solid red; */
}

.json-formatter-button-container > span:last-child {
  display: flex;
  flex: 1;
  justify-content: center;

  /* border: 1px solid orange; */
}

@media (min-width: 768px) {
  #tool-full-page {
    width: 80%;
  }

  .json-formatter-button-container {
    width: 80%;
  }
}

#alert-dialog {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem;
  background: linear-gradient(
    0deg,
    var(--bg),
    var(--bg-secondary) 70%,
    var(--bg-muted)
  );

  border-radius: 12px;
  border: 1px solid var(--border-secondary);

  position: absolute;
  top: 1rem;
  right: 2rem;

  z-index: 100;

  box-shadow: 0 0 50px 2px var(--bg-secondary);
}

#alert-dialog > p {
  margin: 0.5rem;
  margin-top: 0;
  font-size: 1.15rem;
  width: 240px;
}

#alert-dialog > div {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.5rem 1rem;
}

.json-validation-wrapper {
  padding-top: 0.5rem;
  text-align: center;
}
