.page {
  margin: 1rem auto;

  /* border: 1px solid red; */
}

.col {
  flex-direction: column;
}

.toolSectionWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;

  justify-content: center;

  padding: 1rem;
  gap: 1rem;

  /* border: 1px solid orange; */
}

.currentTimeSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  gap: 0.5rem;
  padding: 1rem;
  margin-bottom: -1rem;

  /* border: 1px solid green; */
}

.currentTimeValueContainer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--bg-secondary);
  border-radius: 10px;

  padding: 0.75rem 1rem;
  margin-bottom: 4px;
}

.copyIcon {
  height: 1.1rem;
  width: auto;
  color: var(--divider);

  cursor: pointer;
}

.unixInputSection {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0.5rem;
  padding: 1rem;
  gap: 0.5rem;

  /* border: 1px solid pink; */
}

.unixInput {
  height: 2.5rem;

  width: 240px;
  font-size: 1.2rem;
}

.flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  /* border: 1px solid yellow; */
}

.value {
  font-size: 1.2rem;
  font-weight: 500;

  color: var(--text);
}
.label {
  margin-top: 4px;

  font-size: 1.25rem;
  font-weight: 400;

  color: var(--text-muted);
}

.resultContainer {
  display: flex;
  flex-direction: column;

  width: 80%;
  margin: auto;

  text-align: left;
  padding: 0.5rem;
  gap: 0.5rem;
}
.resultValue {
  font-size: 1.2rem;
  font-weight: 500;

  color: var(--primary);
}

/* ReadableInputTime Component */
.readableInputSection {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  /* border: 1px solid red; */
}

/* UNIX TIMESTAMP CONVERSION */
.readableResultContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "local-label local-value"
    "utc-label utc-value";

  gap: 0.5rem;
  padding-top: 2rem;
}
.resultLabelLocal {
  grid-area: local-label;
  font-size: 1.1rem;
  color: var(--text-muted);
}
.resultLabelUTC {
  grid-area: utc-label;
  font-size: 1.1rem;
  color: var(--text-muted);
}
.resultValueLocal {
  grid-area: local-value;
  font-size: 1.15rem;
  font-weight: 500;
}
.resultValueUTC {
  grid-area: utc-value;
  font-size: 1.15rem;
  font-weight: 500;
}

/* READABLE DATE CONVERSION */
.unixResultContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  grid-template-areas: "local-label local-value";

  gap: 0.5rem;
  padding: 2rem 1rem 0;
}

.resultLabelLocal {
  grid-area: local-label;

  font-size: 1.1rem;
  color: var(--text-muted);
}
.resultValueLocal {
  grid-area: local-value;

  align-self: center;

  font-size: 1.15rem;
  font-weight: 500;
}

.errorMessage {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--accent-red);
}
