.page-wrapper {
  min-height: 100dvh;
}

.page-wrapper-sm {
  height: 90svh;
}

.flex-col-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 0;
  flex: 1;
}

.gradient-card {
  background: linear-gradient(0deg, var(--bg) 50%, var(--bg-secondary));
  border: 1px solid var(--border);
  border-top: 1px solid var(--downlight-dim);
  border-radius: 10px;
}

/* HEADER */
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  height: 100px;
  max-width: 1250px;
  width: 100%;
  margin: auto;
  overflow: hidden;

  padding: 1rem 1rem;
  position: relative;
}

.header a {
  text-decoration: none;
}

.logo-container {
  display: flex;
  height: 100%;
  flex: 1;
}

.logo-container a {
  cursor: pointer;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;

  height: 100%;
}

#app-logo {
  color: var(--text);

  width: 65px;
  height: auto;
}

#app-name {
  font-size: 1.5rem;
  width: 50%;
}

.header-links {
  display: none;
}

#header-open-icon {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  height: 2rem;
  width: auto;

  color: var(--text-secondary);
}

.header-menu-mobile {
  position: fixed;
  right: 1rem;
  top: 0px;
  margin-top: 1rem;

  height: auto;
  width: 180px;

  padding: 1.5rem;
  padding-bottom: 2rem;

  display: flex;
  flex-direction: column;

  align-items: start;
  gap: 1.5rem;

  font-size: 1.35rem;
  font-weight: 500;
}

.header-menu-mobile::before {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;

  background: linear-gradient(0deg, var(--bg-secondary) 90%, var(--downlight));
  border: 1px solid var(--border);
  border-radius: 0.4rem;

  border-top: 1px solid var(--divider);
  z-index: -1;
}

#mobile-close-button {
  display: flex;
  position: absolute;
  bottom: -3.5rem;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  gap: 4px;
  font-size: 1.1rem;

  padding: 0.35rem 0.75rem;
  color: var(--text-secondary);
  cursor: pointer;
}

#mobile-close-button::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  background: linear-gradient(0deg, var(--bg-secondary) 80%, var(--downlight));
  border-radius: 20px;
  border: 1px solid var(--border);
  border-top: 1px solid var(--highlight);
  width: 100%;
  height: 100%;
  z-index: -1;

  backdrop-filter: blur(5px);
}

#mobile-close-button:hover {
  filter: brightness(96%);
}

#header-close-icon {
  font-size: 1.5rem;
  color: var(--text-muted);
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;

  overflow: hidden;
  padding: 1rem;
  padding-top: 3rem;

  align-items: center;
  position: relative;
  margin-bottom: 1rem;
  /* border: 1px solid orange; */
}

.footer::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 1rem;
  right: 1rem;

  z-index: 10;

  padding: 1px;
  width: 80%;
  margin: auto;
  background: var(--divider);
  z-index: 1;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 2rem;

  font-size: 1.2rem;
  font-weight: 500;
}

#dev-note {
  color: var(--text-muted);
  padding: 1rem;
  font-weight: 300;
  font-size: 0.9rem;
}
#developer {
  color: var(--primary);
  display: inline;
}

/* NOT FOUND PAGE */
#not-found {
  width: 180px;
  height: auto;
  color: var(--text);
}

#go-home-link {
  color: var(--accent-blue);
  font-size: 2rem;
  text-align: left;
}

/* EXPANDABLE DESCRIPTION COMPONENT */
.edw-shared {
  position: relative;
  max-width: 1250px;
  margin: auto;

  padding: 1rem;
  /* don't cap height here, it breaks expansion */
}

/* When expanded: allow scrolling if tall */
.expanded-description {
  max-height: max(300px, 40vh);
  overflow-y: auto;
  padding-bottom: 1rem;

  scrollbar-color: var(--border) var(--bg-secondary);
}

/* Inner content gets the fade + clip in collapsed mode */
.collapsed-description {
  overflow: hidden;
  max-height: 30vh;
}

/* Shared chevron styles */
.chevron-icon-shared {
  font-size: 1.75rem;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%);
  color: var(--text);

  border: none;
  display: flex;
  padding: 0.5rem;
}

.chevron-icon-shared::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;

  background: var(--transparent-bg);
  backdrop-filter: blur(5px);

  border-radius: 50px;
}

.expanded-chevron-icon {
  margin-bottom: -0.5rem;
}
.chevron-icon {
  cursor: pointer;

  width: 2rem;
  height: auto;
  box-sizing: content-box;

  color: var(--icon);
  background-color: var(--text-muted);
  border-radius: 50px;
}

.edw-title {
  text-align: center;
}

.edw-shared p {
  display: block;
  width: 90%;
  min-width: 300px;
  text-align: left;

  color: var(--text-secondary);
  font-size: 1.2rem;

  margin: 1rem auto;
  max-width: min(1000px, 90vw);
}

@media (min-width: 1250px) {
  .edw-shared p {
    font-size: 1.1rem;
  }
}

@media (min-width: 1500px) {
  .edw-shared p {
    width: 75%;
  }
}

/* TOOL PAGE (header) */
#tool-header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  margin: auto;
  padding: 0.25rem 1rem;
}

#tool-header-title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--text);
}

#tool-header-description {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--text-secondary);
  padding: 0.5rem;
}

/* OTHER */

input[type="checkbox"] {
  accent-color: var(--primary-light);
}

.note-label {
  font-size: 0.9rem;
  font-style: italic;
  color: var(--text-muted);
  font-weight: 300;
  opacity: 0.9;
}

/* MEDIA QUERIES */
@media (min-width: 960px) {
  .footer {
    margin-bottom: 0.5rem;
  }

  .footer-links {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

@media (min-width: 790px) {
  .header {
    display: flex;
  }

  .header-links {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    column-gap: 2rem;

    font-size: 1.2rem;
    font-weight: 600;
  }

  #header-open-icon {
    display: none;
  }
}

/* CUSTOM CHECKBOX */
.custom-checkbox-wrapper {
  display: flex;
  justify-content: center;

  padding: 0.5rem;
  gap: 0.5rem;
}

.custom-checkbox-label {
  font-size: 1.1rem;
}

#custom-checkbox-input {
  width: 1rem;
  height: auto;

  cursor: pointer;

  accent-color: var(--accent-orange);
}

/* CUSTOM DATE TIME INPUT */
.date-time-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 0.25rem;
  padding: 0.25rem;
}
.date-time-input-value-container {
  display: flex;
  align-items: center;

  height: 60px;

  padding: 0.25rem;

  position: relative;
  overflow: hidden;
}

.date-time-input-label {
  position: absolute;
  top: 0px;
  left: 8%;

  background: linear-gradient(var(--bg) 50%, var(--bg-secondary) 50%);

  font-size: 0.8rem;
  font-weight: 300;

  margin: 0.25rem;

  color: var(--text-secondary);
}
.date-time-input-value {
  width: 90px;
  font-size: 1.1rem;

  text-align: center;
}
