#text-area-custom {
  border: 1px solid var(--border);
  border-radius: 10px;
  background-color: var(--bg-secondary);

  display: flex;
  justify-content: flex-start;
  align-items: stretch;

  max-width: min(90vw, 1250px);
  margin: auto;

  min-height: 350px;
}

#tac {
  font-family: inherit;
  font-size: 1.15rem;
  font-weight: 300;

  color: var(--text-secondary);
  background-color: inherit;

  width: 100%;
  flex: 1;

  display: block;

  resize: none;
  outline: none;
  border: none;
  border-radius: inherit;

  overflow: hidden;

  padding: 0.5rem;
  box-shadow: inherit;
}

#tac-gutter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  padding: 0.5rem 0;
  font-family: monospace;
  font-weight: 300;
  color: var(--text-muted);

  border-right: 0.5px solid var(--border);
}

#tac-gutter label {
  display: flex;
  align-items: center;

  padding: 0 0.5rem;
  font-size: 0.9rem;
}

/* V2 Styles */
#custom-text-area-wrapper {
  display: flex;

  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;

  border: 1px solid var(--border);
  border-radius: 8px;
  background-color: var(--bg-secondary);
}

#custom-text-area {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.35rem;

  color: var(--text-secondary);
  background-color: var(--bg-secondary);

  resize: none;
  outline: none;
  border: none;
  overflow: hidden;

  flex: 1;
  height: auto;
  width: auto;
}

#custom-text-area-gutter {
  display: flex;
  flex-direction: column;

  flex: 0 0 2.5rem; /* grow:0, shrink:0, basis:2.5rem */
  max-width: 2.5rem;
  height: fit-content;

  align-items: flex-end; /* right-align numbers */
  justify-content: flex-start;

  padding: 0.35rem 0.5rem;
  background-color: var(--bg-muted);
  border-right: 1px solid var(--border);
  user-select: none;
  overflow: hidden;
}

.gutter-row-item {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: var(--text-muted);

  /* Ensure one “row” per text line */
  height: 1.5em;
}
