.tool-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 1500px;

  margin: auto;
  padding: 0 1rem;

  /* border: 1px solid green; */
}

/* SEARCH AND CATEGORY INPUTS */
.tool-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: min(80vw, 350px);
  max-width: 1250px;
  margin: 1rem;
  padding: 2rem;
  gap: 1rem;
  /* box-shadow: 0 4px 8px var(--shadow); */
}
.tool-search-container h2 {
  padding-bottom: 0.5rem;
  position: relative;
  font-weight: 500;
}
.tool-search-container h2::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: 2px;
  background-color: var(--border-secondary);
}

.search-input-wrapper {
  position: relative;
  padding: 0.25rem 1rem;
}
#search-input {
  height: 2.2rem;
  width: 100%;
  margin: auto;
  padding: 1.35rem;

  font-size: 1.2rem;
  font-weight: 400;

  border-radius: 8px;
}
#clear-search {
  position: absolute;
  right: -0.8rem;
  top: 50%;
  transform: translateY(-50%);

  color: var(--accent-red);
  width: 2rem;
  height: auto;
  padding: 0.25rem;
  cursor: pointer;
}

/* Category Filter */
.category-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 1rem;
}

.category-filter label {
  font-size: 1.25rem;
  font-weight: 400;
}

/* TOOLS LIST */
.tool-list {
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));

  padding: 1rem;
  gap: 1rem;
}
.tool-list a:hover {
  color: var(--text);
}

.tool-card {
  width: 100%;
  height: 100%;

  filter: drop-shadow(0 4px 8px var(--border-secondary));

  border-top: 1px solid var(--downlight-dim);
}

.tool-card-link {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;

  color: var(--text);
  text-decoration: none;

  cursor: pointer;

  border-radius: inherit;
  padding: 1rem 1.5rem;
}

.tool-card-link h5 {
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--divider);
  text-decoration-thickness: 0.75px;
}

.tool-card:hover {
  filter: brightness(110%);
  transform: scale(102%);
}

/* MEDIA QUERIES */
@media (min-width: 790px) {
  .tool-list {
    padding: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  .tool-search-container {
    min-width: 50vw;
  }

  #search-input {
    width: 20rem;
  }

  #clear-search {
    right: -1.5rem;
  }
}

/* Shared for Tool Pages */
#tool-page-content {
  display: flex;
  flex: 1;
  flex-direction: column;

  gap: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;

  min-height: 70dvh;

  /* border: 1px solid orange; */
}

#tool-title-section {
  text-align: center;
}

#tool-wrapper-small {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
  padding: 1rem;

  /* border: 1px solid green; */
}

#tool-wrapper-small label {
  font-size: 1.1rem;
}

.extra-bottom-padding {
  padding-bottom: 2rem !important;
}
