.page {
  display: flex;
  background: var(--bg);
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;

  /* border: 1px solid white; */
}

.trow {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  max-width: 2200px;

  margin: 1rem auto;
  padding: 1rem;
  gap: 2rem;

  border: 1px solid var(--border);
  background: var(--bg-secondary);

  border-radius: 8px;
}

.trow1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 300px;
  overflow: hidden;

  padding: 1rem;
  justify-content: space-evenly;
  align-items: center;

  border-radius: 10px;
}
.trow2 {
  display: flex;
  flex: 2;
  flex-wrap: wrap;

  min-width: max(300px, 50vw);

  position: relative;

  /* border: 1px solid yellow; */
}

/* Color Harmony */

.colorHarmonySkeleton {
  position: absolute;
  inset: 0;
  width: 100%;

  animation: 2s linear infinite BackgroundSkeleton;
}

.colorComboContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  font-size: 1.25rem;
  font-weight: 500;

  margin: 1rem;
}

.colorComboDropdown {
  width: 200px;
  background-color: var(--bg-muted);
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: 4px;

  font-size: 1.05rem;

  margin: 4px;
  padding: 6px;
}

.colorPalleteCardWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: min(100%, 100px);
  flex: 1;

  font-size: 1.25rem;
  font-weight: 500;
  margin: 1rem;
}

.colorHarmonyContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
  padding: 1rem;
}

.colorCodeCheckboxLabel {
  margin: 1rem auto 0.5rem;
  text-align: center;
  font-size: 1rem;
}
@keyframes BackgroundSkeleton {
  0% {
    background-color: var(--bg);
  }
  25% {
    background-color: var(--bg-secondary);
  }
  50% {
    background-color: var(--bg-muted);
  }
  75% {
    background-color: var(--bg-secondary);
  }
  100% {
    background-color: var(--bg);
  }
}

/* COLOR PALLETE CARD */
.colorPalleteCard {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  width: 15rem;
  height: 10rem;

  position: relative;

  border: 1px solid var(--bg-muted);
  border-radius: 8px;
  cursor: pointer;
}

.colorPalleteCard:active {
  animation: 150ms ease-in ClipboardCopy;
}

.colorPalleteCardText {
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;

  background-color: var(--shadow);

  border-radius: 4px;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 1rem;
}

.colorPalleteCardTextHidden {
  opacity: 0;
}

.colorPalleteCard:hover > span {
  opacity: 1;
}

.colorPalleteCardText p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes ClipboardCopy {
  0% {
    filter: brightness(100%);
    transform: scale(1);
  }
  25% {
    filter: brightness(90%);
    transform: scale(0.98);
  }
  50% {
    filter: brightness(80%);
    transform: scale(0.95);
  }
  75% {
    filter: brightness(90%);
    transform: scale(0.98);
  }
  100% {
    filter: brightness(100%);
    transform: scale(1);
  }
}
/* 
@media (min-width: 780px) {
  .trow {
    gap: 1rem;
  }
} */

.title {
  text-align: center;
  padding: 0.25rem;
  display: block;
  width: 100%;
}
.description {
  min-width: 100px;
  padding: 0.5rem;
  text-align: center;
}
