.page {
  display: flex;
  background: var(--bg);
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.colorPickerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  max-width: min(90vw, 2200px);

  margin: 1rem auto;
  padding: 1rem;
  gap: 1rem;

  border: 1px solid var(--border);
  background: var(--bg-secondary);

  border-radius: 8px;
}

.dropdownButtonsWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;

  padding: 0.5rem;
}
.dropdownContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.25rem;
  font-weight: 500;
}

.dropdownLabel {
  font-size: 1.2rem;
  color: var(--text);
}

.dropdown {
  width: 200px;
  background-color: var(--bg-muted);
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: 4px;

  font-size: 1.05rem;

  width: 100%;

  margin: 4px;
  padding: 6px;
}

.colorPickerContent {
  display: flex;
  flex: 1;
  justify-content: space-around;

  flex-wrap: wrap;

  /* border: 1px solid red; */
}

/* Color Picker Selector (canvas) */
.canvasWrapper {
  display: flex;
  flex: 1;

  justify-content: center;
  align-items: center;

  max-width: 30rem;
  height: 100%;

  padding: 1rem;

  /* border: 1px solid red; */
}

.canvas {
  border: 1px solid var(--bg-muted);
  cursor: crosshair;
  border-radius: 8px;

  box-shadow: 0 4px 8px var(--shadow);
}

/* Color Harmony */

.colorHarmonyContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
  padding: 1rem;

  max-width: 40rem;

  /* border: 1px solid orange; */
}

.colorPalleteCardWrapper {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: min(100%, 100px);
}

/* COLOR PALLETE CARD */
.colorPalleteCard {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  width: 15rem;
  height: 10rem;

  position: relative;

  border: 1px solid var(--bg-muted);
  border-radius: 8px;
  cursor: pointer;

  overflow: hidden;
}

.colorPalleteCard:active {
  animation: 150ms ease-in ClipboardCopy;
}

.colorPalleteCardText {
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;

  background-color: var(--shadow);

  border-radius: 4px;

  padding: 1rem;
}

.colorPalleteCardTextHidden {
  opacity: 0;
}

.colorPalleteCard:hover > span {
  opacity: 1;
}

.colorPalleteCardText p {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes ClipboardCopy {
  0% {
    filter: brightness(100%);
    transform: scale(1);
  }
  25% {
    filter: brightness(90%);
    transform: scale(0.98);
  }
  50% {
    filter: brightness(80%);
    transform: scale(0.95);
  }
  75% {
    filter: brightness(90%);
    transform: scale(0.98);
  }
  100% {
    filter: brightness(100%);
    transform: scale(1);
  }
}

@media (max-width: 780px) {
  .colorPalleteCard {
    width: 45%;
  }

  .colorPalleteCardText {
    padding: 0.5rem;
  }
  .colorPalleteCardText p {
    font-size: 0.85rem;
    font-weight: 400;
  }
}

.title {
  text-align: center;
  padding: 0.25rem;
  display: block;
  width: 100%;
}
.description {
  min-width: 100px;
  padding: 0.5rem;
  text-align: center;
}

.flexColContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 0.25rem;

  align-items: center;

  margin: auto 2rem;
}

.colorCodeCheckboxLabel {
  text-align: center;
  font-size: 1rem;
}

.checkbox {
  position: absolute;
  right: -25px;
  top: 25%;
  transform: translateY(-50%);
  height: 1rem;
  width: auto;
}

/* 

.colorHarmonySkeleton {
  position: absolute;
  inset: 0;
  width: 100%;

  animation: 2s linear infinite BackgroundSkeleton;
}

@keyframes BackgroundSkeleton {
  0% {
    background-color: var(--bg);
  }
  25% {
    background-color: var(--bg-secondary);
  }
  50% {
    background-color: var(--bg-muted);
  }
  75% {
    background-color: var(--bg-secondary);
  }
  100% {
    background-color: var(--bg);
  }
} */
