#character-counter-page {
  text-align: center;

  padding: 1rem;
  margin: 1rem;

  /* border: 1px solid rgb(225, 233, 0); */
}

#character-counter-section {
  max-width: min(80vw, 1500px);
  margin: 1rem auto;
}

#character-count-stats {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem auto;
  max-width: min(90vw, 1250px);
}

#character-count-stats span {
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex: 1;

  min-width: 120px;
  overflow: hidden;
}

#character-count-stats label {
  font-size: 0.8rem;
  color: var(--text-secondary);
}
