#character-counter-page {
  margin: 1rem auto;
}

#character-counter-section {
  display: flex;
  flex-direction: column;
  padding: 0.25rem 1rem;

  width: 100%;
  min-width: 80vw;
  max-width: 1500px;
}

#character-count-stats {
  display: flex;
  justify-content: space-evenly;

  min-width: 100%;
  gap: 1rem;
  margin-bottom: 1rem;
}

#character-count-stats span {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

#character-count-stats label {
  font-size: 0.8rem;
  color: var(--text-secondary);
}
