.page {
  display: flex;
  background: var(--bg);
  justify-content: center;
  flex-wrap: wrap;
}

.grid {
  display: grid;
  gap: 1rem;
  padding: 1rem;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  border: 1px solid white;
}

.trow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1250px;
  width: 100%;

  margin: auto;
  padding: 1rem;
  gap: 1rem;

  border: 1px solid orange;
}

.trow1 {
  height: 50vh;
  max-width: 500px;
  min-width: 350px;
  overflow: hidden;

  padding: 1rem;

  border: 1px solid green;
}
.trow2 {
  display: flex;
  flex: 1;

  height: 50vh;
  max-width: 60svw;
  min-width: 300px;

  position: relative;

  border: 1px solid yellow;
}

.brow {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;

  width: 90vw;
  gap: 1rem;

  border: 1px solid purple;
}

.brow1 {
  height: 200px;
  border: 1px solid black;
}

/* Color Harmony */

.colorHarmonySkeleton {
  position: absolute;
  inset: 0;
  width: 100%;

  animation: 2s linear infinite BackgroundSkeleton;
}

.colorComboContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  font-size: 1.25rem;
  font-weight: 500;

  margin: 1rem;
}

.colorComboDropdown {
  width: 200px;
  background-color: var(--input);
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: 4px;

  font-size: 1.05rem;

  margin: 4px;
  padding: 6px;
}

.colorPalleteCardWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  width: 100%;

  font-size: 1.25rem;
  font-weight: 500;
  margin: 1rem;
}

.colorHarmonyContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
  padding: 1rem;
}

@keyframes BackgroundSkeleton {
  0% {
    background-color: var(--bg);
  }
  25% {
    background-color: var(--bg-secondary);
  }
  50% {
    background-color: var(--bg-muted);
  }
  75% {
    background-color: var(--bg-secondary);
  }
  100% {
    background-color: var(--bg);
  }
}

/* 
@media (min-width: 780px) {
  .trow {
    gap: 1rem;
  }
} */
