.page {
  display: flex;
  background: var(--bg);
  justify-content: center;
  flex-wrap: wrap;
}

.grid {
  display: grid;
  gap: 1rem;
  padding: 1rem;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  /* border: 1px solid white; */
}

.trow {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  max-width: 1250px;
  width: 100%;

  margin: auto;
  padding: 1rem;
  gap: 1rem;

  border: 1px solid var(--border);
  background: var(--bg-secondary);

  border-radius: 8px;
}

.trow1 {
  display: flex;
  flex-direction: column;

  min-width: 50%;
  overflow: hidden;

  padding: 1rem;
  justify-content: space-evenly;

  border-radius: 10px;
}
.trow2 {
  display: flex;
  flex: 1;
  justify-content: center;

  min-width: 300px;

  position: relative;

  /* border: 1px solid yellow; */
}

.brow {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;

  width: 90vw;
  gap: 1rem;

  border: 1px solid purple;
}

.brow1 {
  height: 200px;
  border: 1px solid black;
}

/* Color Harmony */

.colorHarmonySkeleton {
  position: absolute;
  inset: 0;
  width: 100%;

  animation: 2s linear infinite BackgroundSkeleton;
}

.colorComboContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  font-size: 1.25rem;
  font-weight: 500;

  margin: 1rem;
}

.colorComboDropdown {
  width: 200px;
  background-color: var(--bg-muted);
  color: var(--text);
  border: 1px solid var(--border);
  border-radius: 4px;

  font-size: 1.05rem;

  margin: 4px;
  padding: 6px;
}

.colorPalleteCardWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  width: 100%;

  font-size: 1.25rem;
  font-weight: 500;
  margin: 1rem;
}

.colorHarmonyContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
  padding: 1rem;
}

.colorCodeCheckboxLabel {
  margin: 1rem auto 0.5rem;
  text-align: center;
  font-size: 1rem;
}
@keyframes BackgroundSkeleton {
  0% {
    background-color: var(--bg);
  }
  25% {
    background-color: var(--bg-secondary);
  }
  50% {
    background-color: var(--bg-muted);
  }
  75% {
    background-color: var(--bg-secondary);
  }
  100% {
    background-color: var(--bg);
  }
}

/* COLOR PALLETE CARD */
.colorPalleteCard {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  width: 15rem;
  height: 10rem;

  position: relative;

  border: 1px solid var(--bg-muted);
  border-radius: 8px;
  cursor: pointer;
}

.colorPalleteCard:active {
  animation: 150ms ease-in ClipboardCopy;
}

.colorPalleteCardText {
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;

  background-color: var(--shadow);

  border-radius: 4px;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 1rem;
}

.colorPalleteCardTextHidden {
  opacity: 0;
}

.colorPalleteCard:hover > span {
  opacity: 1;
}

.colorPalleteCardText p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes ClipboardCopy {
  0% {
    filter: brightness(100%);
    transform: scale(1);
  }
  25% {
    filter: brightness(90%);
    transform: scale(0.98);
  }
  50% {
    filter: brightness(80%);
    transform: scale(0.95);
  }
  75% {
    filter: brightness(90%);
    transform: scale(0.98);
  }
  100% {
    filter: brightness(100%);
    transform: scale(1);
  }
}
/* 
@media (min-width: 780px) {
  .trow {
    gap: 1rem;
  }
} */
