#text-area-custom {
  border: 1px solid var(--border);
  border-radius: 10px;
  background-color: var(--bg-secondary);

  display: flex;
  justify-content: flex-start;
  align-items: stretch;

  max-width: min(90vw, 1250px);
  margin: auto;

  min-height: 350px;
}

#tac {
  font-family: inherit;
  font-size: 1.15rem;
  font-weight: 300;

  color: var(--text-secondary);
  background-color: inherit;

  width: 100%;
  flex: 1;

  display: block;

  resize: none;
  outline: none;
  border: none;
  border-radius: inherit;

  overflow: hidden;

  padding: 0.5rem;
  box-shadow: inherit;
}

#tac-gutter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  padding: 0.5rem 0;
  font-family: monospace;
  font-weight: 300;
  color: var(--text-muted);

  border-right: 0.5px solid var(--border);
}

#tac-gutter label {
  display: flex;
  align-items: center;

  padding: 0 0.5rem;
  font-size: 0.9rem;
}
