#text-area-custom {
  border: 1px solid red;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  max-width: min(90vw, 1250px);
  min-height: 350px;
  margin: auto;

  border: 1px solid var(--border);
  border-radius: 10px;

  background-color: var(--bg-secondary);

  /* box-shadow: inset 0 0 4px 20px red; */
}

#tac {
  font-family: inherit;
  font-size: 1.15rem;
  line-height: 1.3;
  font-weight: 400;

  color: var(--text-secondary);
  background-color: inherit;

  height: 100%;
  width: 100%;
  display: inline-block;

  resize: none;
  outline: none;
  border: none;
  border-radius: inherit;

  padding: 0.5rem;
  box-shadow: inherit;
}

/* #tac:focus {
  border-color: var(--primary);
} */

#tac-gutter {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0.5rem 0;
  font-family: monospace;
  font-weight: 300;
  color: var(--text-muted);

  border-right: 0.5px solid var(--border);
}

#tac-gutter label {
  display: flex;
  align-items: center;

  padding: 0 0.5rem;
  font-size: 0.9rem;
}
