/* HOME */
#home-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  overflow: hidden;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;
  height: 100%;
  width: 100%;

  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

.hero h1 {
  font-size: 2.7rem;
  width: 15ch;
  word-wrap: break-word;
}
.hero p {
  font-size: 1.75rem;
}

/* BANNER SECTION */
#banner {
  background: linear-gradient(var(--bg) 40%, var(--primary-light) 60%);
  width: 100dvw;
  height: 100%;
  margin-top: 1rem;

  overflow: hidden;
}

#banner-example-container {
  display: flex;
  height: 100%;
  width: 80dvw;
  position: relative;

  margin: 2rem auto;
  border-top: 0px;
  border: 1px solid var(--border);
  border-radius: 12px;
  background-color: var(--card);
  box-shadow: 0 2px 16px var(--bg-muted);

  z-index: 1;
  overflow: hidden;
}

#banner-example-container::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;

  height: 50px;

  background-color: var(--card);
  filter: brightness(95%);
  box-shadow: 0 1px 4px var(--divider);

  border-radius: inherit;
  border-top: 1px solid var(--highlight);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 1px solid var(--divider);
}

#browser-view-buttons {
  position: absolute;
  top: 12px;
  left: 10px;
  display: flex;
  z-index: 10;
  gap: 2px;
}

#broswer-example-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--card-text);

  padding: 2rem 1rem;
  margin-top: 50px;
  gap: 2rem;
}

#broswer-example-content h4 {
  font-weight: 600;
}
#broswer-example-content h5 {
  font-weight: 500;
}
.lg-show {
  display: none;
}
.lg-hide {
  display: block;
}

#example-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1.5rem;
  position: relative;
}

.example-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 300px;
  height: 180px;
  background-color: var(--card);
  filter: brightness(90%);

  border-radius: 10px;
  border: 1px solid var(--border);

  padding: 1rem;
  box-shadow: inset 0px 0px 10px var(--shadow);
}

.example-card:first-child > pre {
  text-wrap: wrap;
}

.example-card pre {
  width: 100%;
  overflow: hidden;
}

/* BOTTOM SECTION */

#action-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 675px;
  background-color: var(--bg);
  margin: 1rem;
}
#action-section h4 {
  color: var(--text-secondary);
  font-weight: 600;
}
#action-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.action-section-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 320px;
  height: 275px;
  background: linear-gradient(0deg, var(--bg) 80%, var(--downlight));

  border: 1px solid var(--border-secondary);
  border-top: var(--highlight);
  border-radius: 10px;

  box-shadow: 0 4px 12px 2px var(--shadow);
  color: var(--text);
}

.action-section-card:hover {
  filter: brightness(var(--brighter-filter));
}

.action-section-card h5 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: -6px;
}
.tool-feature-list {
  font-size: 1.15rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  #banner-example-container {
    max-width: 500px;
  }

  #action-card-container {
    flex-direction: row;
  }

  #action-section {
    height: 500px;
  }
}

@media (min-width: 960px) {
  .hero {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    gap: 1.5rem;
  }

  .hero h1 {
    font-size: 3.25rem;
    font-weight: 500;
    margin: auto;
  }

  #banner-example-container {
    max-width: 800px;
  }

  #example-card-container {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }

  .lg-show {
    display: block;
  }
  .lg-hide {
    display: none;
  }

  #action-section {
    height: 400px;
  }
}
