:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --bg: oklch(0.1482 0 0);
  --bg-secondary: oklch(0.2178 0 0);
  --bg-muted: oklch(0.4 0 0);

  --text: oklch(0.955 0 0);
  --text-secondary: oklch(0.9001 0 0);
  --text-muted: oklch(0.8001 0 0);
  --text-inverted: oklch(0.1867 0 0);
  --text-placeholder: var(--bg-muted);

  --accent-orange: oklch(0.8 0.17217 84.496);
  --accent-green: oklch(0.52 0.14 152);
  --accent-red: oklch(0.5 0.2 10);

  --primary-light: oklch(0.7 0.1601 152.3);
  --primary: oklch(0.6126 0.1601 152.3);
  --primary-dark: oklch(0.5583 0.1448 152.3);

  --card: oklch(0.937 0 0);
  --card-text: oklch(0.35 0.02 197.881);
  --divider: oklch(0.7122 0 0);
  --border: oklch(0.5 0 0);
  --border-secondary: oklch(0.2645 0 0);

  --btn-green: oklch(0.65 0.2 152);
  --btn-green-light: oklch(0.85 0.2 152);
  --text-green: oklch(0.15 0.15 152);

  --btn-blue: oklch(0.65 0.2 210);
  --btn-blue-light: oklch(0.85 0.2 210);
  --text-blue: oklch(0.15 0.15 210);

  --btn-red: oklch(0.65 0.2 28);
  --btn-red-light: oklch(0.85 0.2 28);
  --text-red: oklch(0.15 0.15 28);

  --btn-gray: oklch(0.65 0 0);
  --btn-gray-light: oklch(0.85 0 0);
  --text-gray: oklch(0.15 0 0);

  --link: oklch(0.5 0.2 210);
  --link-2: oklch(0.55 0.2 210);
  --link-3: oklch(0.45 0.2 210);

  --shadow: oklch(0.3 0.1 270 / 0.3);
  --highlight: oklch(0.65 0 0);
  --icon: oklch(0.21 0 0);

  --downlight: var(--bg-muted);
  --downlight-dim: var(--highlight);

  --brighter-filter: 110%;
  font-size: 14px;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: oklch(0.96 0 0); /* soft off-white with blue hint */
    --bg-secondary: oklch(0.9 0 0); /* slightly darker for sections/cards */
    --bg-muted: oklch(0.85 0 0);

    --text: oklch(0.22 0 0); /* main body text (dark navy-gray) */
    --text-secondary: oklch(0.3 0 0);
    --text-muted: oklch(0.36 00 0); /* soft neutral gray-blue */
    --text-inverted: oklch(
      0.96 0 0
    ); /* used on dark buttons, opposite of dark theme */
    --text-placeholder: oklch(0.5 0 0);

    --accent-green: oklch(0.7 0.18 152); /* medium chroma green accent */

    --primary: oklch(0.52 0.14 152); /* balanced teal-blue primary */
    --primary-dark: oklch(0.42 0.13 152); /* darker hover/active state */

    --card: oklch(0.98 0.005 220); /* white-ish card bg */
    --divider: oklch(0.9 0.005 220); /* subtle line */
    --border: oklch(0.78 0.005 220); /* input/button border */
    --border-secondary: oklch(0.88 0.005 220); /* subtle container outlines */

    --btn-green: oklch(0.5 0.1 152);
    --btn-green-light: oklch(0.6 0.25 152);
    --text-green: oklch(1 0.1 152);

    --btn-blue: oklch(0.5 0.1 210);
    --btn-blue-light: oklch(0.6 0.25 210);
    --text-blue: oklch(1 0.1 210);

    --btn-red: oklch(0.5 0.19 28);
    --btn-red-light: oklch(0.65 0.2 28);
    --text-red: oklch(1 0.1 28);

    --btn-gray: oklch(0.5 0 0);
    --btn-gray-light: oklch(0.65 0 0);
    --text-gray: oklch(0.95 0 0);

    --shadow: oklch(0.7 0 0 / 0.3);
    --highlight: oklch(0.88 0 0);
    --icon: oklch(0.4 0 0);
    --downlight: var(--card);
    --downlight-dim: var(--border-secondary);

    --brighter-filter: 102%;

    font-size: 14px;
  }
}

html {
  height: 100%;
  max-width: 100dvw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  margin: 0;
  min-width: 320px;
  min-height: 100dvh;
  overflow: auto;
}

#root {
  display: flex;
  flex-direction: column;

  /* background-color: blue; */
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;

  min-height: 50dvh;
  min-width: 300px;
  margin: 0;

  overflow: auto;

  color: var(--text);

  /* border: 1px solid white; */
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.2;
}

h3 {
  font-size: 2rem;
  line-height: 1.3;
}

h4 {
  font-size: 1.75rem;
  line-height: 1.3;
}

h5 {
  font-size: 1.5rem;
  line-height: 1.4;
}

h6 {
  font-size: 1.2rem;
  line-height: 1.4;
}

p {
  font-size: 1rem;
  line-height: 1.25;
}

textarea::placeholder {
  color: var(--text-placeholder);
  font-weight: 400;
}

.error-text {
  color: var(--accent-red);
  font-weight: 500;
}

.success-text {
  color: var(--accent-green);
  font-weight: 500;
}

.link-text {
  color: var(--text);
  cursor: pointer;
  text-decoration: none;
}

.link-text:hover {
  filter: brightness(80%);
}

.blur {
  content: "";
  position: absolute;
  inset: 0;
  height: 100dvh;
  background: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.1),
    transparent
  );

  overflow-y: hidden;
  backdrop-filter: blur(1px);
  z-index: 10;
}

.fit-screen {
  max-height: 100dvh;
  overflow: hidden;
  position: fixed;
}

.red {
  color: var(--accent-red);
}

.orange {
  color: var(--accent-orange);
}

.green {
  color: var(--accent-green);
}

input {
  background-color: var(--bg-secondary);

  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
  border-radius: 0.75rem;
  width: 100%;
  outline: none;
  border: 1px solid var(--border-secondary);
  color: var(--text);
}
input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 8px var(--primary-light);
}

.gradient-card {
  background: linear-gradient(0deg, var(--bg) 50%, var(--bg-secondary));
  border: 1px solid var(--border);
  border-top: 1px solid var(--downlight);
  border-radius: 10px;
}

/* GLOBAL CLASSES */
.flex-row-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.sm-margin {
  margin: 0.5rem;
}

.description {
  color: var(--text);
  text-align: left;
  padding: 0.2rem;
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  :root {
    font-size: 15px;
  }
}

@media (min-width: 1250px) {
  :root {
    font-size: 16px;
  }
}

/* BUTTON COMPONENT */
.button-base {
  display: inline-flex;
  width: fit-content;
  max-width: 200px;
  min-height: 40px;

  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  text-decoration: none;

  border-radius: 10px;
  cursor: pointer;
}

.primary-btn {
  font-weight: 500;

  background-color: var(--btn-green);
  border: 1px solid var(--btn-green-light);
  color: var(--text-green);
}

.secondary-btn {
  font-weight: 500;

  background-color: var(--btn-blue);
  border: 1px solid var(--btn-blue-light);
  color: var(--text-blue);
}

.warning-btn {
  font-weight: 500;

  background-color: var(--btn-red);
  border: 1px solid var(--btn-red-light);
  color: var(--text-red);
}

/* ANIMATION FOR BUTTONS */
.button-base:hover {
  filter: brightness(90%);
}

button:active {
  /* styles while button is being pressed */
  transform: scale(0.97);
}

.loading-btn-state {
  animation: shrink-grow 1s linear;
}

@keyframes shrink-grow {
  0% {
    transform: scale(0.97);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/* TAG COMPONENT */
.base-tag {
  width: fit-content;
  padding: 0.2rem 0.5rem;
  height: auto;
  text-align: center;
  border-radius: 20px;

  font-weight: 600;

  border: 1px solid;
}

.primary-tag {
  color: var(--text-green);
  background: linear-gradient(0deg, var(--primary) 80%, var(--primary-light));

  border-color: var(--primary-dark);
  border-top-color: var(--btn-green);
}

.secondary-tag {
  color: var(--text-blue);
  background: linear-gradient(0deg, var(--btn-blue) 80%, var(--btn-blue-light));

  border-color: var(--btn-blue);
  border-top-color: var(--btn-blue-light);
}

.tertiary-tag {
  color: var(--text-red);
  background: linear-gradient(0deg, var(--btn-red) 70%, var(--btn-red-light));

  border-color: var(--btn-red);
  border-top-color: var(--btn-red-light);
}

.misc-tag {
  color: var(--text-gray);
  background: linear-gradient(0deg, var(--btn-gray) 80%, var(--btn-gray-light));

  border-color: var(--btn-gray);
  border-top-color: var(--btn-gray-light);
}

.icon {
  color: var(--icon);
}
