#tool-full-page {
  display: flex;
  flex: 1;
  flex-direction: column;

  min-height: 90dvh;
  height: 100%;
  width: 80%;

  margin: auto;

  border: 1px solid red;
}

#tool-page-title {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%);

  font-weight: 500;
}

.button-container {
  display: flex;
  align-items: end;
  gap: 2rem;
  padding: 2rem;
  padding-bottom: 3rem;
  width: 80%;
  margin: auto;

  min-height: 200px;
  position: relative;

  /* border: 1px solid green; */
}

.button-container > span:first-of-type {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.button-container > span:last-child {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.multiline-input-container {
  display: flex;
  flex: 1;

  border: 1px solid orange;
}

#multiline-input-gutter {
  min-height: 100%;
  width: 2rem;
  position: relative;
  background-color: var(--bg-light);
  line-height: 1.1;
}

#json-formatter-input {
  width: 90vw;
  height: 100%;

  resize: none;

  font-size: 1rem;
  line-height: 1.1;
}

#gutter-label {
  font-size: 1rem;
  color: var(--text);
}
